In [2]:
# importing pands
import pandas as pd


# reading dataset
data = pd.read_csv("all_stations/kg_pollution_all_stations.csv")

data.head()

         date  station pollutant  value
0  2020-02-03        0      HCOH  0.012
1  2020-02-03        0        NO  0.240
2  2020-02-03        0       NO2  0.050
3  2020-02-03        0       SO2  0.009
4  2020-02-03        1       NH3  0.020

In [3]:
data['pollutant'].unique()

array(['HCOH', 'NO', 'NO2', 'SO2', 'NH3', 'PM2.5'], dtype=object)

In [4]:
data.tail()

            date  station pollutant  value
3471  2021-01-04        1       SO2  0.063
3472  2021-01-04        4       NO2  0.070
3473  2021-01-04        4       SO2  0.000
3474  2021-01-04        6       NO2  0.130
3475  2021-01-04        6       SO2  0.004